<div id="main-header" class="st-main-header">
    <div class="st-logo-container valign">
        {#<img src="/resources/img/wellsite_masters_logo.png" alt="Skeleton Logo" />#}
        Skeleton
    </div>
    {% if userId is defined %}
    <div class="st-logout-container valign"><a href="/login/logout" title="Log out">Log out</a></div>
    {% else %}
    <div class="st-logout-container valign"><a href="/login/index" title="Login">Login</a></div>
    {% endif %}
</div>
<div id="main-navigation" class="st-main-navigation">
    {% if userId is defined %}
    <div class="st-navigation-container" style="position: relative;">
        <a href="/user/index" class="st-navigation-button {% if data.case == 'index' %}st-navigation-active{% endif %} ">
            <span class="valign" title="User index">User index</span>
        </a>

        <a id="sl-nav-more" href="#" class="st-navigation-button {% if data.case == 'more' %}st-navigation-active{% endif %} ">
            <span class="valign" title="More">More</span>
        </a>

        <div id="sl-nav-more-container" class="st-navigation-more-container">
            <a href="#" class="st-navigation-button more {% if data.case == 'setup' %}st-navigation-active{% endif %}">
                <span class="valign" title="Setup">Setup</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>