<p>Welcome user !</p>

<ul>
    <li><a href="#">Map/territory management</a></li>
    <li><a href="#">User management</a></li>
    <li><a href="#">Rig management</a></li>
    <li><a href="#">Hole management</a></li>
</ul>